<%- bg_image_url="https://s3-sandbox.uslugi.kzn.ru/static/images/mar8_mail_2021/bg.png" %>
<%- header_image_url="https://s3-sandbox.uslugi.kzn.ru/static/images/mar8_mail_2021/header.png" %>
<%- stars_middle_image_url="https://s3-sandbox.uslugi.kzn.ru/static/images/mar8_mail_2021/flower-top.png" %>
<%- stars_bottom_url="https://s3-sandbox.uslugi.kzn.ru/static/images/mar8_mail_2021/flower-bottom.png" %>
<%- default_text='С 8 Марта поздравляем<br />
                  В этот день мы Вам желаем:<br />
                  Блеск в глазах не растерять<br />
                  И проблем ни в чем не знать.<br />
                  Как в графической программе<br />
                  Жизнь чтоб рисовалась Вами.<br />
                  Чтобы вирусы и лаги<br />
                  Не лишали Вас отваги!<br />
                  Хотим также пожелать<br />
                  В бан все стрессы отправлять,<br />
                  Чтоб бюджет Ваш не лагал<br />
                  И дом полной чашей стал!<br />'%>
<%- main_text='Поздравляем Вас с</b>
              наступающим праздником</b>
              8 Марта!' %>
<%- bg_color=#88ff00 %>
<%- main_text_color=#f0c259 %>

<body>
<div style="background-color:<%= bg_color %>;">
  <!--[if gte mso 9]>
  <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
    <v:fill type="tile" src="<%= bg_image_url %>" color="#42acd1"/>
  </v:background>
  <![endif]-->
  <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td valign="top" align="left">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" background="<%= bg_image_url %>" style="background-position: center;background-size: cover;">
  <tbody>
    <tr>
      <td align="center" style="border-collapse:collapse;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td align="center" style="border-collapse:collapse;padding-top:25px"></td>
        </tr>
        <tr>
          <td align="center" width="500" style="border-collapse:collapse">
            <table cellpadding="0" cellspacing="0" width="480" style="max-width:500px;min-width:250px;width:100%">
              <tbody>
                <tr>
                <td align="center" width="500" style="border-collapse:collapse;">
                  <table border="0" cellpadding="0" cellspacing="0" width="480" background="#ffffff" style="background-color:#ffffff;border-collapse:collapse;overflow:hidden;border-radius:20px 20px 0px 0px;">
                    <tbody>
                      <tr>
                        <td align="center">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <img alt="" title="" width="480" style="border:medium;display:block;height:auto;max-width:480px;
                                                                      max-height:300px;
                                                                      width:100%" src="<%= header_image_url %>">
                                </td>
                              </tr>
                              <tr>
                                <td style="border-collapse:collapse;color:#000000;font-family:'Verdana' , 'arial' , sans-serif;font-size:14px;font-style:normal;line-height:25px;padding-bottom:20px;text-align:center;padding-top: 20px;">
                                <p>
                                <%- if @full_name %>
                                    <%- if @gender=='f' %>
                                      <%= "Уважаемая #{@full_name}!" %>
                                        <%- else %>
                                      <%= "Уважаемый #{@full_name}!" %>
                                    <%- end %>                                  
                                  <%- end %>
                                </p>                            
                              </tr>
                              <tr>
                                <td style="border-collapse:collapse;color:<%= main_text_color %>;font-family:'Verdana' , 'arial' , sans-serif;font-size:28px;font-style:normal;font-weight:bold;line-height:40px;padding-bottom:0px;text-align:center">
                                  <b style="font-size: 22px;line-height: normal;"><%= main_text %></b>
                                </td>
                              </tr>
                              <tr>
                                <td align="center">
                                  <img alt="" title="" width="480" style="border:medium;display:block;height:auto;max-width:480px;
                                                                                                        max-height:240px;
                                                                                                        width:100%"
                                    src="<%= stars_middle_image_url %>">
                                </td>
                              </tr>
                              <tr>
                                <td style="border-collapse:collapse;color:#000000;font-family:'Verdana' , 'arial' , sans-serif;font-size:12px;font-style:normal;line-height:25px;padding-left:80px;padding-right:80px;text-align:center;">
                                  <p>
                                    <%= default_text %>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td align="center">
                                  <img alt="" title="" width="480" style="border:medium;display:block;height:auto;max-width:480px;max-height:240px;width:100%"
                                    src="<%= stars_bottom_image_url %>">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <tr>
                <td align="center" style="border-collapse:collapse;padding-top:60px"></td>
              </tr>
              </tbody>
              </table>            
          </td>
        </tr>
        </tbody>
        </table>
        </td>
      </tr>
      </tbody>
      </table>
        </td>
      </tr>
    </table>
  </div>
</body>